---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="container mx-auto w-[60%] m-24">
        <form
            _ngcontent-qkv-c19=""
            novalidate=""
            class="ng-untouched ng-pristine ng-valid"
        >
            <div _ngcontent-qkv-c19="">
                <span
                    _ngcontent-qkv-c19=""
                    class="uppercase text-sm text-gray-600 font-normal"
                >
                    Full Name
                </span><input
                    _ngcontent-qkv-c19=""
                    type="text"
                    placeholder="Enter your Name"
                    required=""
                    class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-(--color-brown)"
                />
            </div><div _ngcontent-qkv-c19="" class="mt-8">
                <span
                    _ngcontent-qkv-c19=""
                    class="uppercase text-sm text-gray-600 font-normal"
                >
                    Email
                </span><input
                    _ngcontent-qkv-c19=""
                    type="email"
                    placeholder="Enter your email address"
                    required=""
                    class="w-full bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-(--color-brown)"
                />
            <div _ngcontent-qkv-c19="" class="mt-8">
                <span
                    _ngcontent-qkv-c19=""
                    class="uppercase text-sm text-gray-600 font-normal"
                >
                    Message
                </span><textarea
                    _ngcontent-qkv-c19=""
                    placeholder="Enter your Message"
                    required=""
                    class="w-full h-32 bg-gray-200 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-(--color-brown)"
                ></textarea>
            </div><div _ngcontent-qkv-c19="" class="mt-8">
                <button
                    _ngcontent-qkv-c19=""
                    type="submit"
                    class="text-white bg-(--color-brown) border-0 py-2 px-8 focus:outline-none rounded-xl text-lg scale-90 shadow-lg transform transition duration-500 hover:scale-100"
                >
                    Send Message
                </button>
            </div>
        </form>
    </section>
</Layout>
