---
import Card from "./Card.astro";
---

<section class="container mx-auto m-24">
    <h2 class="text-4xl mb-10 font-medium items-center text-center">Diplomas</h2>
    <div class="flex flex-col w-[60%] mx-auto gap-6">
        <Card
            class="justify-start"
            date="2022"
            title="General Baccalaureate"
            description="High school diploma, specializing in Mathematics and Digital and Computer Sciences. Obtained with honors (Bien) at Lycée Saint Cricq, Pau."
        />
        <Card
            class="justify-end"
            date="2022 - 2028"
            title="Engineering Degree Cy Tech"
            description="Engineering degree in Computer Science, currently in the first year of the engineering cycle (general computer science track). Ongoing education at Cy Tech, Pau."
        />
    </div>
</section>