<header class="w-[30%] m-auto flex justify-between items-center py-8 text-xl">
    <h2>Abdelhamid Akhatar</h2>
    <nav class="flex gap-12">
        <a href="/">Projects</a>
        <a href="/">About me</a>
        <a href="/contact">Contact</a>
    </nav>
</header>