---
import RotationArrow from '../assets/svg/RotationArrow.svg';
---

<section class="container mx-auto w-[60%] m-32">
	<div class="flex items-center gap-6">
		<h1 class="text-left font-medium text-5xl">Hey, i am Abdelhamid Akhatar </h1> <RotationArrow class="size-20"/>
	</div>
	<p class="text-left text-2xl mt-4">
		I am a computer engineering student at Cy Tech engineering school.
	</p>
	<p class="text-left text-2xl">
		Passionated about web technologies, i am always looking for new challenges and experiences. I am currently learning full stack web development and i am looking for an internship to validate my first engineering year. 
	</p>
</section>